[submodule "media"]
	path = media
	url = https://github.com/androidx/media.git
	branch = release-1.9.0-alpha01
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
	branch = master
